<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruiter Registration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">    

    <style>
        .container{
            position: relative;
            top: 100px;
            padding-bottom: 50px;
        }
         a{
            text-decoration: none;
        }
        .navbar-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        }

        .nav-item {
        text-align: center;
        margin-right: 50px;
        }
        .container{
            width: 60%;
        }
        label{
            font-weight:bold;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container-fluid" >
          <a class="navbar-brand text-light" href="#"><i class="bi bi-robot"></i>Virtual HR</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/"><i class="bi bi-house-fill"></i>Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-light" href="{{url_for('recruiter')}}" id="user_reg">
                  Login
                </a>
              </li>
            </ul>    
          </div>
        </div>
      </nav>

    <div class="container container-sm">
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
 
    <form method="POST" action="/register-recruiter">
        <h1 class="text-center text-primary">Recruiter Registration</h1>
        <div class="mb-3">
            <div class="col" id="invalidName" style="display:none;"><p class="text-danger"><strong>Enter a valid name</strong></p></div>
            <label for="name" class="form-label fw-b">Full Name</label>
            <input type="text" class="form-control border border-dark" id="name" name="name" onblur="validateName()" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control border border-dark" id="email" name="email"aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <p id="invalidCompany" class="text-danger" style="display: none;"><strong>Invalid company Name</strong></p>
            <label for="company-name" class="form-label fw-b">Company Name</label>
            <input type="text" class="form-control border border-dark" id="company-name" name="company-name" onblur="validateCompany()" required>
        </div>
        <div class="mb-3">
            <p id="invalidAddress" class="text-danger" style="display: none;"><strong>Invalid Company Address</strong></p>
            <label for="company-address" class="form-label fw-b">Company Address</label>
        <div class="row mb-3">
            <div class="col"><label for="City-name" class="form-label fw-b">City</label></div>
            <div class="col"><label for="Street-name" class="form-label mr-3">Street</label></div>
            <div class="col"><label for="Landmark" class="form-label fw-b">Landmark</label></div>
        </div>
        <div class="row">
            <div class="col"><input type="text" class="form-control border border-dark" id="City-name" name="city-name"  required></div>
            <div class="col"><input type="text" class="form-control border border-dark" id="Street-name" name="street-name"  required></div>
            <div class="col"><input type="text" class="form-control border border-dark" id="Landmark" name="landmark"  required></div>
        </div>
        </div>
        <div class="mb-3">
            <p id="invalidMobile" class="text-danger" style="display:none;"><strong>Enter valid mobile number</strong></p>
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control border border-dark" id="mobile" name="mobile" onblur="validateMobile()" required>
        </div>
        <div class="mb-3">
            <p class="text-danger" id="invalidPassword" style="display:none;"><strong>6-12 characters must contain a upper,lower and a special letter</strong></p>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control border border-dark" id="password" name="password" onblur="validatePassword()" required>
        </div>
        <div class="mb-3">
            <p class="text-danger" id="invalidConfirmPassword" style="display:none;"><strong>Password mismatch</strong></p>
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control border border-dark" id="confirm-password" onblur="validateConfirmPassword()" required>
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-primary btn-lg" value="submit">Submit</button>
        <button type="reset" class="btn btn-danger btn-lg">Clear</button>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".alert").hide(5000);
        });
    </script>

<script>
        
        
    function validateName(){
        var name = document.getElementById('name').value;
        const regexName = /^[A-Z][a-z]*$/;
        const alert = document.getElementById('invalidName');
        if(!regexName.test(name)){
            alert.style.display = "flex";
            document.getElementById('name').value = '';
        }
        else{
            alert.style.display = "none";
        }

    }

    function validateMobile(){
            const mobile = document.getElementById('mobile').value;
            const regexMobile = /^\d{10}$/;
            const alert = document.getElementById('invalidMobile');

            if(!regexMobile.test(mobile)){
                alert.style.display = "flex";
                document.getElementById('mobile').value = '';
               
            }
            else{
                alert.style.display = "none";
            }

        }

   

    function validateCompany(){
        const company = document.getElementById('company-name').value;
        const regexCompany =  /^[A-Z][a-z]*$/;
        const alert = document.getElementById('invalidCompany');

        if(!regexCompany.test(company)){
            alert.style.display = "flex";
            document.getElementById('company-name').value = '';
           
        }
        else{
            alert.style.display = "none";
        }

    }



    function validatePassword(){
            const password = document.getElementById('password').value;
            const regexPassword = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+])\S{6,12}$/;
            const alert = document.getElementById('invalidPassword');

            if(!regexPassword.test(password)){
                alert.style.display = "flex";
                document.getElementById('password').value = '';
               
            }
            else{
                alert.style.display = "none";
            }

        }


        function validateConfirmPassword(){
            const password = document.getElementById('password').value;
            const confirm_password = document.getElementById('confirm-password').value;
            const alert = document.getElementById('invalidConfirmPassword');

            if(password !== confirm_password){
                alert.style.display = "flex";
                document.getElementById('confirm-password').value = '';
               
            }
            else{
                alert.style.display = "none";
            }

        }
    

</script>
</body>
</html>